<!DOCTYPE html>
<html>
<head>
 <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
 <link href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css">
  <link href="{{ STATIC_URL }}css/index.css" rel="stylesheet" type="text/css">
</head>
<script src="http://yandex.st/dojo/1.8.0/dojo/dojo.js"></script>
<body>
Se logguer :<br>
{% csrf_token %}
{{ loginform }}<br>
<br>
Rajouter un item :<br>
{{ itemform }}<br>
<br>

</body>
</html>