<!DOCTYPE html>
<html>
<head>
 <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
 <link href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css">
  <link href="{{ STATIC_URL }}css/index.css" rel="stylesheet" type="text/css">
</head>
<script src="http://yandex.st/dojo/1.8.0/dojo/dojo.js"></script>
<body>
<div class="row">
  <div class="span10">Niveau 1
    <div class="row">
      <div class="span5">Niveau 2</div>
      <div class="span5">Niveau 2</div>
    </div>
  </div>
</div>
</body>
</html>